Filmes/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilmeVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="anoLancamento" type="xs:int" />
      <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmeVO" nillable="true" type="tns:FilmeVO" />
</xs:schema>